
:root {
  --rotateX: 0deg;
  --rotateY: 0deg;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Red Hat", monospace;
  position: relative;
  width: 100%;
  height: 100vh;
}

#room {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
  align-content: center;
  top: 0;
  left: 0;
  background-color: #111;
}

.room-wrap {
  margin: 0;
  padding: 0;
  perspective: 100vmin;
  height: 100vh;
  max-width: 150vh;
  max-height: 150vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  container-type: inline-size;
  margin: 0 auto;
  background-color: black;
  --depth: 50cqw;
  --cubescale: 20vmin;
  transition: all 0.4s ease;
}

.zoomed .room-wrap {
  transform: scale(1.5);
  perspective: 125vmin;
}

.room {
  width: 100vw;
  height: 100vh;
  max-height: 150vw;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY));
  transition: transform 0.1s;
  z-index: 1;
  pointer-events: none;
  font-size: 5vmin;
  user-select: none;
}

.room > div {
  position: absolute;
  pointer-events: auto;
  display: grid;
  align-content: center;
  text-align: center;
  color: white;
  transform-style: preserve-3d;
}

.room .wall {
  background-size: cover;
  background-position: center;
  transition: opacity 0.5s ease;
  z-index: 2;
  backface-visibility: hidden;
  background-color: #333;
  box-shadow: inset 0 0 5vmin rgba(0, 0, 0, 0.5),
    inset 0 0 15vmin rgba(0, 0, 0, 0.5);
  border: 3px solid #222;
  background-image: url(./img/wall.webp);
  background-position: bottom center;
  background-size: auto 115%;
  transform-style: preserve-3d;
}

.room > div > b {
  display: block;
  margin: 0 auto;
  padding: 1em;
  border: 0.15em solid;
  background: rgba(255, 255, 255, 0.25);
  text-shadow: 0.1em 0.1em black;
  position: relative;
  text-transform: uppercase;
  align-content: center;
}

.wall-back,
.wall-front,
.wall-top,
.wall-bottom {
  width: 100%;
  height: 100%;
}

.wall-left,
.wall-right {
  width: 100%;
  height: 100%;
  top: 0;
}

.wall-back {
  transform: translateZ(calc(-1 * var(--depth)));
  background-color: orange;
}

.wall-front {
  transform: translateZ(calc(1 * var(--depth))) rotateY(180deg);
  background-color: red;
}

.wall-right {
  left: 0;
  transform: rotateY(90deg) translateX(calc(-1 * var(--depth)));
  transform-origin: left;
  background-color: green;
}

.wall-left {
  right: 0;
  transform: rotateY(-90deg) translateX(calc(1 * var(--depth)));
  transform-origin: right;
  background-color: magenta;
}

.room .wall-top {
  top: 0;
  height: calc(2 * var(--depth));
  transform: rotateX(90deg) translateY(calc(-1 * var(--depth))) rotateY(180deg);
  transform-origin: top;
  background-image: url(./img/ceiling.webp);
  background-size: 75%;
  background-repeat: repeat;
  background-position: top right;
}

.room .wall-bottom {
  bottom: 0;
  height: calc(2 * var(--depth));
  transform: rotateX(-90deg) translateY(calc(1 * var(--depth))) rotateY(180deg);
  transform-origin: bottom;
  background-image: url(./img/floor.webp);
  background-size: 75%;
  background-repeat: repeat;
  background-position: top right;
}

.wall-window {
  mask-image: radial-gradient(
    circle at center,
    transparent 15vmin,
    black 15.1vmin
  );
}

.room-wrap.rotating .room {
  transition: transform 0.5s ease;
}

.room-wrap.back-view {
  --rotateY: 0deg;
}
.room-wrap.left-view {
  --rotateY: 90deg;
}
.room-wrap.front-view {
  --rotateY: 180deg;
}
.room-wrap.right-view {
  --rotateY: 270deg;
}

.room {
  transform: rotateX(var(--rotateX)) rotateY(var(--rotateY));
}

@media (max-width: 989px) {
  .room-wrap {
    overflow: hidden;
  }
}

/*-- NAV UI --*/

.room-nav {
  position: fixed;
  z-index: 999;
  bottom: 10px;
  left: 10px;
  height: 0;
  width: calc(100% - 20px);
}

.room-nav button {
  position: absolute;
  bottom: 0;
  appearance: none;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.4em;
  cursor: pointer;
  font-size: clamp(20px, 8vmin, 36px);
  transition: all 0.3s ease;
  background-color: #454954;
  background-image: linear-gradient(180deg, #0000, #0002),
    radial-gradient(90% 0.125em at 50% 0.125em, #fff7 25%, #fff0 50%);
  box-shadow: 0.125em 0.125em 0.25em #0007, 0 -0.05em 0 0.05em #0004,
    0 0.05em 0 0.05em #fff1, -0.125em 0 0.125em #454954 inset,
    0 0.125em 0.125em #fff4 inset, 0.125em 0 0.125em #fff4 inset,
    0 -0.125em 0.125em #454954 inset;
  color: #e3e4e8;
  text-shadow: 0 0 0.125em #fff7, 0.05em 0.05em 0 black, 0.075em 0.075em 0 black;
  border: 0px outset #454954;
  border-radius: 0.25em;
}

.room-nav button:hover {
  filter: brightness(1.2) contrast(1.2);
}

.room-nav button:not(:active) {
  border-bottom-width: 0.1em;
  height: 1.6em;
}

.room-nav button:active {
  box-shadow: 0 0 0 #0007, 0 -0.05em 0 0.05em #0004, 0 0.05em 0 0.05em #fff1,
    -0.125em 0 0.125em #5c6270 inset, 0 0.125em 0.125em #0004 inset,
    0.125em 0 0.125em #0004 inset, 0 -0.125em 0.125em #5c6270 inset;
}

.room-nav #zoom {
  left: 2em;
  cursor: zoom-in;
}
.zoomed .room-nav #zoom {
  cursor: zoom-out;
}

.room-nav #hint {
  left: 4em;
}

.room-nav #turnLeft {
  left: 0;
}

.room-nav #turnRight {
  right: 0;
}

.room-nav .hidden {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
  font-size: 0;
  overflow: hidden;
}

.room-nav button i {
  font-family: "Noto Emoji", sans-serif;
  font-style: normal;
  font-weight: bold;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1.65em;
  transform: scale(0.9);
}

/*** ITEMS ***/
/* Door */
.door {
  width: 25%;
  height: 75%;
  position: relative;
  background-image: url(./img/door.webp);
  background-position: bottom center;
  background-size: contain;
  bottom: -5%;
  left: 20%;
  transform: translateZ(2vmin);
  transition: all 0.3s ease-out;
  cursor: pointer;
}

.door.open {
  background-image: url(./img/door-open.webp);
  background-position: bottom center;
}

.door.inner {
  transform: translateZ(0);
  filter: brightness(0.3);
}

.flat {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    filter: drop-shadow(0 2vmin 4vmin rgba(0, 0, 0, 0.5)) sepia(20%) brightness(0.9);
    backface-visibility: hidden;
    transform-style: preserve-3d;
}

/*** OVERLAY ****/

.overlay.darkness {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #102034;
  mix-blend-mode: multiply;
  opacity: 0.8;
  z-index: 2;
  pointer-events: none;
}

.overlay.darkness.day {
  opacity: 0 !important;
  backdrop-filter: none;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    pointer-events: none;
    transition: all 0.15s steps(3);
    opacity: 0;
}